<p id="notice"><%= notice %></p>

<p>
  <b>Page:</b>
  <%= @post.page_id %>
</p>


  <% feed = ActiveSupport::JSON.decode(@post.feed) %>
	<h3 class="nobot">Your Wall</h3>
	<ul class="facebook clearfix">
	<% feed.each do | feed |%>
		<% status = Feed.last(:conditions => {:feed_id => feed["id"]}) %>
			<li>
				<img class="twitter" src="<%= status.picture %>" /> 
				<div class="status clearfix">
					<b><a target="_blank" href="<%= status.link %>"><%= feed["from"]["name"] %></a></b><br />
				<p class="message"><%= feed["message"] %></p>
				<% if feed["picture"] %>
					<img class="facebook" src="<%= feed["picture"] %>" />
					<a href="<%= feed["link"] %>"><%= feed["name"] %></a><br />
					<p class="description"><%= feed["description"] %></p>
				<% end %>
				</div>
			<% if status.comments %>
				<% comments = ActiveSupport::JSON.decode(status.comments) %>
				<% comments.each do |comment| %>
				<div class="comment">
					<b><%= comment["from"]["name"] %></b><br />
					<p class="description"><%= comment["message"] %></p>
				</div>
				<% end %>
			<% end %>
			</li>
	<% end %>
	</ul>
